/* Set Variables */
:root {
    --main-color: #1bb2a3;
    --section-background: #f6f6f6;
    --secondry-color: #085d87;
    --section-padding: 60px;
}
* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: "Work Sans", sans-serif;
    background-color: white;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* Start Components */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    letter-spacing: -3px;
    margin: 0;
}
.special-heading + p {
    margin: -30px 0 0;
    text-align: center;
    font-size: 20px;
    color: #797979;
}
@media (max-width:767px ) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        font-size: 12px;
        margin: -20px 0 0;
    }
}

/* Start Header */
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .header-right {
    display: flex;
    flex-direction: row;
}
.header .logo {
    width: 60px;
}
.header .links {
    position: relative;
    cursor: pointer;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links .icon {
    width: 30px;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span {
    background-color: #676767;
    margin-bottom: 5px;
    height: 3px;
}
.header .links .icon span:first-child {
    width: 100%;
}
.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: width 0.5s ease-in-out;
}
.header .links .icon span:last-child {
    width: 100%;
}
.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    background-color: #f7f1f1;
    min-width: 200px;
    top: calc(100% + 15px);
    transition: 0.3s;
    border-radius: 5px;
    display: none;
    z-index: 1;
}
.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f7f1f1 transparent;
    position: absolute;
    top: -19px;
    right: 5px;
}
.header .links:hover ul {
    display: block;
}
.header .links ul li a {
    display: block;
    text-decoration: none;
    color: #6b6868;
    padding: 15px;
    transition: 0.3s;
}
.header .links ul li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}
.header .links ul li a:hover {
    padding-left: 25px;
}
.header .header-right .dark-mode {
    margin-right: 50px;
    background-color: var(--main-color);
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 4px;
    text-align: center;
    padding: 5px 0 5px 0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.header .header-right .dark-mode:hover {
    background-color: #24988e;
    transform: scale(1.05);
}
/* Landing */

.landing {
    background: url(./images/Landing2.jpg);
    background-size: cover;
    height: calc(100vh + 64px);
    position: relative;
    margin: 0 15px;
}
.landing .intro-text {
    position: absolute;
    top:35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1 {
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 50px;
}
.landing .intro-text p {
    font-size: 15px;
    line-height: 1.5;
} 

/* Features section */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    margin: 0 15px;
    background-color: var(--section-background);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap : 20px;
}
.features .feat {
    padding: 20px;
    text-align: center;
}
.features .feat i {
    color: var(--main-color);
}
.features .feat h3 {
    font-weight: 800;
    margin: 30px 0px 15px 0;
}
.features .feat p {
    line-height: 1.5;
    color: #777;
    font-size: 17px;
}
/* Services Section */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .service-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    grid-gap: 30px;
    margin-top: 100px
}
.services .service-content .srv {
    display: flex;
    margin-bottom: 40px;
    transition: 0.5s ease-in-out;
}
.services .service-content .srv:hover {
    transform: scale(1.2);
}
@media (max-width:767px) {
    .services .service-content .srv {
        flex-direction: column;
        text-align: center;
    }
}
.services .service-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}
.services .service-content .srv .text{
    flex: 1;
}
.services .service-content .srv .text h3 {
    margin: 0 0 20px;
}
.services .service-content .srv .text p {
    margin-top: 5px;
    color: #777;
    line-height: 1.5;
    font-weight: 400;
}
.services .service-content .image {
    position: relative;
    text-align: center;
}
.services .service-content .image::before {
    content: "";
    background-color: var(--secondry-color);
    width: 80px;
    height: calc(100% + 70px);
    position: absolute;
    top: -35px;
    right: 15px;
    z-index: -1;
}
.services .service-content .image img {
    width: 250px;
}
@media (max-width:1199px) {
    .image-column {
        display: none;
    }
}
/* Portfolio Section */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 80px;
}
.portfolio .portfolio-content .card img {
    max-width: 100%;
    border-radius: 8px 8px 0 0;
}
.portfolio .portfolio-content .card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25) ;
}
.portfolio .portfolio-content .card .info {
    padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
    margin: 0;
}
.portfolio .portfolio-content .card .info p {
    color: #777;
    line-height: 1.5;
    margin: 0;
}
/* About Section */
.about {
    padding-top: var(--section-padding);
    padding-bottom: clac(var(--section-padding) + 60px);
}
.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 991px){
    .about .about-content{
        flex-direction: column;
        text-align: center;
    }
}
.about .about-content .image {
    margin-top: 60px;
    position: relative;
    width: 300px;
    height: 375px;
}
@media (max-width:991px) {
    .about .about-content .image{
        margin: 0 auto 0px;
    }
}
.about .about-content .image::before {
    content: "";
    background-color: #f7f5f5ae;
    width: 80px;
    height: calc(100% - 50px);
    position: absolute;
    top:-43px;
    left:-25px;
    z-index:-1;
}
.about .about-content .image::after {
    content: "";
    width: 65px;
    height: 145px;
    position: absolute;
    border-left: 70px solid var(--main-color);
    border-bottom: 60px solid var(--main-color);
    top: -26px;
    right: -88px;
    z-index: -1;
}
@media (max-width:991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
}
.about .about-content .image img {
    max-width: 100%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.about .about-content .text {
    flex-basis: calc(100% - 500px)
}
.about .about-content .text p:first-child {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 40px;
}
.about .about-content .text hr {
    width: 60%;
    display: inline-block;
    border-color: var(--main-color);
    box-shadow: 1px 1px  2px var(--main-color);
}
.about .about-content .text p:last-child {
    color: #777;
    line-height: 2;
}
/* Contact Section */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.contact .contact-content {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact .contact-content .info {
    display: flex;
    flex-direction: column;
}
.contact .contact-content .label {
    font-weight: 800;
    font-size: 40px;
    letter-spacing: -2px;
    color: var(--secondry-color);
    margin-bottom: 15px;
}
.contact .contact-content .link {
    display: block;
    text-decoration: none;
    color: var(--main-color);
    font-weight: 800;
    font-size: 30px;
}
@media (max-width: 767px) {
    .contact .contact-content .label,
    .contact .contact-content .link {
        font-size: 25px;
    }
}
.contact .contact-content .social {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.contact .contact-content .social i {
    color: var(--secondry-color);
    padding: 0 15px ;
}
/* Footer */
.footer {
    background-color: var(--secondry-color);
    padding: 30px 10px;
    color: white;
    text-align: center;
    font-size: 18px;
}
.footer span {
    color: var(--main-color);
    font-weight: bold;
}